@font-face
  font-family: 'bold'
  src: url('bold-webfont.eot')
  src: url('bold-webfont.eot?#iefix') format('embedded-opentype'), url('bold-webfont.woff2') format('woff2'), url('bold-webfont.woff') format('woff'), url('bold-webfont.ttf') format('truetype'), url('bold-webfont.svg#code_pro_bold_lcregular') format('svg')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'regular'
  src: url('regular-webfont.eot')
  src: url('regular-webfont.eot?#iefix') format('embedded-opentype'), url('regular-webfont.woff2') format('woff2'), url('regular-webfont.woff') format('woff'), url('regular-webfont.ttf') format('truetype'), url('regular-webfont.svg#code_pro_lcregular') format('svg')
  font-weight: normal
  font-style: normal

$azul: #29abe2
$naranjo: #f7931e

*
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
body
  height: 100%
footer
  background: #4d4d4d
  margin-top: 32px
  padding: 32px 0
  .footer-logo
    text-align: center
    .footer-img
      width: 250px
  .footer-info
    margin-top: 32px
    text-align: center
    h3
      color: $azul
      font-family: 'regular'
      font-size: 16px
      span
        color: $naranjo
header
  padding: 35px 0
  width: 100%
  .logo
    text-align: center
    svg
      margin: 0 auto
      width: 230px
  .menu
    text-align: right
    ul
      list-style: none
      margin: 0
      padding: 45px 0
      li
        display: inline-block
        margin: 0 16px 0 0
        svg
          width: 26px
.align-center
  text-align: center
.bajada
  margin-top: 110px
  h2
    color: #666
    font-family: 'bold'
    font-size: 32px
    text-align: center
    width: 100%
    span
      color: $naranjo
  p
    color: $azul
    font-family: 'regular'
    padding: 0 5%
    text-align: center
    width: 100%
.bajada-left
  h2
    color: #666
    font-family: 'bold'
    font-size: 32px
    text-align: left
    width: 100%
  .bajada-left-img
    width: 100%
.contacto
  margin-top: 16px
  .actions
    margin: 45px 0
    text-align: left
    input[type="submit"]
      background: $azul
      border: none
      border-radius: 3px
      color: white
      cursor: pointer
      font-family: 'bold'
      padding: 10px 30px
.exito
  p
    color: $azul
    font-family: 'bold'
    font-size: 32px
    text-align: center
.field_with_errors
  .form-control
    border: 2px solid $naranjo
.form-control
  color: #ccc
  font-family: 'bold'
  font-size: 28px
.hero
  background: url('/background.jpg') center / cover
  height: 100vh
  max-height: 800px
  width: 100%
.iso-background
  background: url('iso.png')
  background-position: right
  background-repeat: no-repeat
  background-size: 290px
  padding: 100px 0
.speak
  margin-top: 5%
  h2
    color: $azul
    font-family: 'bold'
    font-size: 32px
    text-align: center
    span
      color: white
.steps
  background: $azul
  border-radius: 3px 3px 0 0
  margin-top: -175px
  padding: 40px 0 0 0
  .step
    padding: 5px
    text-align: center
    .step-img
      width: 135px
    .step-text
      color: white
      font-family: 'regular'
      font-size: 16px
    .step-title
      color: white
      font-family: 'regular'
      font-size: 20px
      margin-top: 16px
      text-transform: uppercase
.title-2
  color: white
  font-family: 'bold'
  font-size: 24px
  text-align: center
  width: 100%
.areas
  background: $naranjo
  border-radius: 0 0 3px 3px
  padding: 40px 100px 0 100px
  .area
    margin: 0
    padding: 35px 5px
    position: relative
    text-align: center
    .area-img
      left: 0
      position: absolute
      width: 80px
    .area-text
      color: white
      font-family: 'regular'
      font-size: 16px
      padding-left: 85px
      padding-right: 20px
      padding-top: 8px
      text-align: left
  .area-two
    margin-bottom: 32px
    text-align: center
    h2
      color: white
      font-family: 'regular'
      font-size: 16px
      margin: 0
    h2,
    img
      display: inline-block
      vertical-align: middle
    img
      width: 35px
